header{
    background: black;
    padding: 1%;
    border: 5px solid white;
    width: 30%;
    margin: auto;
}
.header1{
    text-align: center;
}

.section1, .section2{
    position: relative;
    background: black;
    width: 100%;

    float:left;
}

#trackbox{
    display: block;
    width: 15%;
    float: left;
    border: 1px solid white ;
    height: auto;
    box-sizing: border-box;
    margin-left: 15.5%;
    margin-top: -25%;
    color: white;
}

#reviewbox{
    display: block;
    width: 15%;
    float: right;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-right: 15.5%;
    margin-top: -25%;
    color: white;
}

a 
{
    display: block;
    color:white;
    text-decoration: none;
}

a:hover{
    background: white;
    color: black;
}

p
{
    margin: auto;
    text-align: center;

}

p2
{
    margin: auto;
    text-align: center;
}

p3
{
    display: block;
    margin: auto;
    text-align: center;
    color: black;
    border: 1px solid black;
    margin-top: 143%;
    width: 15%;
    float: right;
    margin-right: 0%;
}
p3:hover{
    background: black;
    color: white;
}

h2
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white;
}


h3{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 150%;
    border: 1px solid white;
}



#desc{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 30%;
}

h4{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    font-size: 150%;
}

footer{
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

body{
    margin:0;
    padding:0;
    background: black;
    width:100%;
    height:100%;
    color: white;
}

.homeimg{
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 40%;
    padding: 3%;
    bottom: 0;
}

.homeimg2{
    display:none;
}

.homebutton{
    width: 5%;
    float: right;
}

.warp{
    width: 5%;
    float: left;
}

#tracklist{
    display: block;
    width: 15%;
    float: left;
    border: 1px solid white;
    height: 707px;
    padding-bottom: 60px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: -650px;
    color: white;
}

h5{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    font-size: 150%;
}

#trackmeaning{
    display: block;
    width: 30%;
    float: left;
    border: 1px solid white;
    height: 600px;
    padding-bottom: 36.7%;
    box-sizing: border-box;
    margin-left: 0%;
    margin-top: -650px;
    color: white;
}

.revimg{
    display: none;
}

.oilrig{
    display: block;
    width: 20%;
    padding-top: 5%;
    padding-left: 65%;
}

.richard{
    display: block;
    width: 20%;
    padding-top: 20px;
    padding-left: 65%;
}

.trackused{
    display: block;
    border: 1px solid white;
    width: 15%;
    margin-right: 17.5%;
    margin-top: 1%;
}

#rating{
    display: block;
    width: 10%;
    float: left;
    border: 1px solid white;
    height: 300px;
    padding-bottom: 600px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
}

#reviews{
    display: block;
    width: 45%;
    float: left;
    border: 1px solid white;
    height: 50px;
    padding-bottom: 600px;
    box-sizing: border-box;
    margin-left: 0%;
    margin-top: 5%;
    color: white;
}

#submit{
    display: block;
    width: 20%;
    float: left;
    border: 1px solid white;
    height: 300px;
    padding-bottom: 31%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: 5%;
    color: white;
}

#submitbox{
    display: block;
    width: 100%;
    padding-bottom: 148.5%;
    background: white;
}

#audio{
    margin-left: 41.5%;
}

#reviewheader{
    display: none;
}

.homeimg3{
    display: none;
}

.homeimg4{
    display: none;
}
.revimg2{
    display: none;
}

/*Phone-Portrait*/

@media only screen and (max-width: 500px) {

    body{
        background: black;
    }

    header{
    background: black;
    padding: 1%;
    border: 3px solid white;
    width: 70%;
    margin: auto;
    font-size: 10px;
    height: 50px;
}

#section2{
    position: relative;
    top: -700px;
    margin-bottom: 10px;
    background: black;
}

h4{

    text-align: center;
    font-size: 15px;
    border: 1px solid white ;
}

p2
{
    margin-top: 10px;
    text-align: center;
}

.homeimg{
    display: none;
}

.homeimg4{
    display: none;
}

#reviewbox{
    position: static;
    display: block;
    width: 70%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 15%;
    margin-top: 30px;
    color: white;
}

#trackbox{
    display: block;
    width: 70%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 15%;
    margin-top: 30%;
    color: white;
}

#revtext{
    display: none;
}

h2
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    font-size: 15px;
}

h3
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    font-size: 25px;
}

#desc{
    display: block;
    margin-top: -430px;
    text-align: center;
    border: 1px solid white;
    width: 70%;
    height: 100px;

}

#tracklist{
    display: block;
    width: 80%;
    border: 1px solid white;
    padding-bottom: 15%;
    box-sizing: border-box;
    margin-top: 5%;
    color: white;
    height: 300px;
    margin-left: 50px;
}

#trackmeaning{
    display:none;
}
.oilrig{
    display:none;
}
.trackused{
    display:none;
}
.richard{
    display: block;
    width: 50%;
    padding-top: 1%;
    padding-left: 25%;
    margin-top: 50px;
}

.homeimg3{
    display: none;
}

.revimg{
    display: block;
    width: 20%;
    margin-top: 30px;
    margin-left: 50px;
}

#audio{
    margin-left: 20%;
}

#rating{
    display: none;
}

#reviews{
    position: static;
    display: block;
    width: 80%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: 30px;
    color: white;
    padding-bottom: 200px;
}

#submit{
    display: block;
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: 50px;
    padding-bottom: 20%;
    color: white;
    height: 184px;
}

#submitbox{
    display: block;
    width: 100%;
    padding-bottom: 152.5px;
    background: white;
    margin-bottom: 20px;
    color: red;
}

#reviewheader{
    display: block;
    background: black;
    border: 1px solid white;
    width: 59%;
    margin-top: -94px;
    margin-right: 10%;
    height: 91px;
    float: right;
}

.revheadtext{
    font-size: 20px;
    text-align: center;
    padding: 30px;
    margin-top: -10px;
}

.revimg2{
    display: none;
}

p3
{
    display: block;
    margin: auto;
    text-align: center;
    color: black;
    border: 1px solid black;
    margin-top: 35%;
    width: 15%;
    float: right;
    margin-right: 0%;
}
p3:hover{
    background: black;
    color: white;
}

}

/*Tablet-Portrait*/

@media only screen and (max-width: 800px) and (min-width: 600px){

    body{
        background: black;
    }

    .homeimg{
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 40%;
    margin-top: 0%;
    padding-top: 55%;
    margin-left: 30px;
    bottom: 0;
    float: left;
}

#reviewheader{
    display: block;
    background: black;
    border: 1px solid white;
    width: 90%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: -140px;
    height: 80px;
}

.homeimg4{
    display: none;
}

.revheadtext{
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    margin-top: -1px;
}


.homeimg2{
    display: block;
    width: 11%;
    bottom: 0;
    margin-top: -100px;
    margin-left: -30px;
}

    header{
    background: black;
    padding-left: 40px;
    border: 3px solid white;
    width: 83%;
    margin: auto;
    font-size: 20px;
    height: 50px;
    padding-bottom: 30px;
}

#desc{
    display: block;
    float: right;
    width: 30%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-right: 13%;
    margin-top: -305px;
    color: white;
    margin-bottom: 50px;
    height: 270px;
}

#trackbox{
    display: block;
    width: 45.1%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: -319px;
    margin-top: 10%;
    color: white;
    height: 300px;
}

#reviewbox{
    display: block;
    width: 45.1%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: -651px;
    color: white;
    float: right;
    height: 300px;
}

#tracklist{
    display: block;
    width: 45%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 60%;
    color: white;
    height: 295px;
}

#trackmeaning{
    display: block;
    width: 45%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-top: 60%;
    color: white;
    height: 200px;
}

.oilrig{
    display:none;
}
.trackused{
    display:none;
}

.richard{
    display: block;
    width: 70%;
    padding-top: 10%;
    padding-left: 15%;
    margin-bottom: -400px;
}

#reviews{
    display: block;
    width: 45%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 150px;
    color: white;
    float: right;
    padding-bottom: 298px;
}

#rating{
    display: block;
    width: 45%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 150px;
    color: white;
    float: left;
    padding-bottom: 70px;
}

#submit{
    display: block;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 50px;
    padding-bottom: 10px;
    color: white;
}

#submitbox{
    display: block;
    width: 100%;
    padding-bottom: 37.5%;
    background: white;
    margin-bottom: 10%;
    border: 1px solid black
}

#audio{
    margin-left: 250px;
}

.homeimg3{
    display: none;
}

.revimg{
    display: none;
}

.revimg2{
    display: none;
}

p3
{
    display: block;
    margin: auto;
    text-align: center;
    color: black;
    border: 1px solid black;
    margin-top: 35%;
    width: 15%;
    float: right;
    margin-right: 0%;
}
p3:hover{
    background: black;
    color: white;
}

}

/*Tablet-Landscape*/

@media only screen and (max-width: 1100px) and (min-width: 801px){

    body {
        background: black;
    }

    .homeimg{
    display: none;
    margin: 0 auto;
    width: 25%;
    height: 40%;
    bottom: 0;
    float: left;
}

    header{
    background: black;
    padding-left: 40px;
    padding-bottom: 70px;
    border: 3px solid white;
    width: 83%;
    margin: auto;
    font-size: 20px;
    height: 50px;
}

#audio{
    margin-left: 400px;
}

#desc{
    margin-top: -310px;
    text-align: center;
    border: 1px solid white;
    width: 25%;
    padding-bottom: 240px;
}

#trackbox{
    display: block;
    width: 30%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 30px;
    color: white;
    padding-bottom: 60px;
}

#reviewbox{
    display: block;
    width: 30%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 30px;
    color: white;
    float: right;
    padding-bottom: 100px;
}

.oilrig{
    display: block;
    width: 30%;
    padding-top: 1%;
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: -255px;
}
.trackused{
    display:none;
}

.richard{
    display: none;

}

#tracklist{
    display: block;
    width: 60%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-right: 5%;
    color: white;
    height: 170px;
    float: right;
    padding-bottom: 232px;
    margin-top: 20px;
}

#trackmeaning{
    display: block;
    width: 90%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-top: 5%;
    color: white;
    margin-left: 5%;
    padding-bottom: 100px;
    height: 200px;
}

#submit{
    display: block;
    width: 60%;
    float: right;
    border: 1px solid white;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: -530px;
    color: white;
    padding-bottom: 476px;
    margin-bottom: 10%;
    
}

#submitbox{
    display: block;
    width: 100%;
    padding-bottom: 445px;
    background: white;
}

#rating{
    display: block;
    width: 25%;
    float: left;
    border: 1px solid white;
    padding-bottom: 100px;
    margin-right: 10%;
    box-sizing: border-box;
    margin-left: -160px;
    margin-top: 19.5%;
    color: white;
    margin-bottom: 5%;
}

#reviews{
    display: none;
}

.homeimg3{
    display: block;
    width: 11%;
    bottom: 0;
    margin-top: -100px;
    margin-left: -30px;
}

.homeimg4{
    display: block;
    width: 11%;
    bottom: 0;
    margin-top: -100px;
    margin-left: -30px;
    float: right;
}

.revimg{
    display: block;
    width: 15%;
    bottom: 0;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

.revimg2{
    display: none;
}

p3
{
    display: block;
    margin: auto;
    text-align: center;
    color: black;
    border: 1px solid black;
    margin-top: 65%;
    width: 15%;
    float: right;
    margin-right: 0%;
}
p3:hover{
    background: black;
    color: white;
}

}

/* Phone Landscape Layout*/

@media only screen and (max-width: 780px) and (min-width: 501px){

    #reviews{
        width: 45.1%;
        height: 100px;
        padding-bottom: 250px;
        margin-bottom: 50px;
        float: right;
        margin-right: 27px;
        margin-top: 19px;
    }

        #rating{
        width: 45.5%;
        height: 100px;
        padding-bottom: 250px;
        margin-bottom: 50px;
        float: left;
        margin-left: -80px;
        margin-top: 105px;
    }

    #submit{
    display: none;
}

#submitbox{
    display: none;
}

.revimg{
    display: block;
    width: 11%;
    margin-top: 0px;
    padding-left: 40px;
    float: left;
}

#reviewheader{
    display: block;
    background: black;
    border: 1px solid white;
    width: 80%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: -141px;
    height: 81px;
}

.revimg2{
    display: block;
    width: 11%;
    margin-top: 0px;
    padding-left: 20px;
    float: right;
    margin-right: 27px;
}

.revheadtext{
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    margin-top: -1px;
}

h1{
    display: block;
    width: 80%;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: -80px;
    height: 81px;
    font-size: 30px;
}

header{
    margin-top: 5%;
}

.homeimg2{
    display: block;
    width: 12%;
    margin-top: -12px;
    float: left;
    margin-right: 27px;
}

.homeimg3{
    display: block;
    width: 12%;
    margin-top: -12px;
    float: right;
    margin-right: 1px;
}

    #reviewbox{
        width: 46%;
        height: 50px;
        padding-bottom: 150px;
        margin-bottom: 52px;
        float: right;
        margin-right: 27px;
        margin-top: -202px;
        font-size: 12px;
    }

        #trackbox{
        width: 45.5%;
        height: 100px;
        padding-bottom: 150px;
        margin-bottom: 50px;
        float: left;
        margin-left: 40px;
        margin-top: 30px;
        font-size: 12px;
    }

    .homeimg{
        display: none;
    }

    #desc{
    margin-top: -52px;
    text-align: center;
    border: 1px solid white;
    width: 91.5%;
    margin-right: 26px;
    height: 100px;
}

#tracklist{
    display: block;
    width: 53%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-right: 5%;
    color: white;
    height: 90px;
    float: right;
    padding-bottom: 190px;
    margin-top: 60px;
    margin-bottom: -30px;
}

#trackmeaning{
    display: block;
    width: 90%;
    border: 1px solid white ;
    box-sizing: border-box;
    margin-top: 10%;
    color: white;
    margin-left: 5%;
    padding-bottom: 50px;
    height: 140px;
}

.richard{
    display: block;
    width: 37%;
    padding-top: 15px;
    padding-left: 5%;
    margin-top: 20px;
    margin-bottom: -255px;
}

}